@font-face {
    font-family: 'LilGrotesk Bold';
    src: url('/fonts/LilGrotesk-Bold.otf') format('opentype');
}
@font-face {
    font-family: 'LilGrotesk Regular';
    src: url('/fonts/LilGrotesk-Regular.otf') format('opentype');
}

.font-face-gm {
    font-family: "LilGrotesk Bold";
}